body{
  background-color:white;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
}

/*navigation bar*/
.navbar{
  display: block;
  position: relative;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;}
.button{
  padding: 10px;
  margin: 0;
  text-decoration: none;}
.active{
  background-color: #8a0700 ;
  color: white;}
.inactive{
  background-color: white;
  color: black;}
.button:hover{
  background-color: #ce3d36;}


.red_bg_color{
  background-color: #8a0700;
}
.full_width{
  width: 100%;
}
.front_img{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

/*footer*/
footer{
  padding-bottom: 50px;
}
.footer_flex{
  width: 50%;
}

/*annet*/
.div_border{
  border-style: solid;
  border-width: 2px;
}

.center_fb{
  margin: auto;
  width: 400px;
}
.center_content{
  margin: auto;
  width: 60%;
  margin-bottom: 1em;
}

.center_content2{
  text-align: center;
}
/*p, h1, h2, h3, h4, ul{
  margin: 30px;
}*/
li{
  margin-top:15px;
}

.flex{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  display: -webkit-flex; /*Safari*/
}

.flex_image{
  display: inline-flex;
  display: -webkit-flex; /*Safari*/
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  
}

/*for index.html*/
.info{
  width:60%;
}
.info_bilde{
  width: 100%;
}
.info_header{
  margin-top: 0;
  padding-top: 0;
}
.innhold{
  padding: 10px 30px 30px 30px;
}
.aktuelt{
  width: 40%;
}
.innhold_aktuelt{
  margin-top: 10px;
  padding: 10px 30px 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/*index.html done*/
/*Mainly for medlemmer.html*/
.instructor_pfp{
  height: 120px;
  border-radius: 50%;
  float: left;
  margin: 0 30px 30px 30px;
}

.image{
  width: 48%;
  margin: auto;
  
}

/*Tabell*/ 
/*.center_conntent tr:nth-child(even){
  background-color: #f2f2f2;}
.center_content td, .center_content th {
  border: 1px solid #ddd;
  padding: 8px;}
*/
.tabell1 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tabell1 td, .tabell1 th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tabell1 tr:nth-child(even){
  background-color: #f2f2f2;
}

.tabell1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
}






  /*small screen*/
  @media screen and (max-width: 1000px) {
    body {
      /*background-color: blueviolet;*/
    }
    .center_content{
      margin: auto;
      width: 90%;
    }
    .flex{
      flex-direction: column;
    }
    .aktuelt{
      width: 100%;
    }
    .innhold{
      width: auto;
    }
    .info{
      width: 100%;
    }
    
  }
  /*Phone screen*/
  @media screen and (max-width: 480px) {
    body {
      background-color: lightgreen;
      font-size: 0.8em;
   }
    .center_content{
      margin: auto;
      width: 100%;
   }
  }